wheel
pandas
ecg_plot
matplotlib
wfdb
google-cloud-storage
requests

scikit-learn
torch
datasets
torchvision
transformers
transformers[torch]
opencv-python
ast
scipy.io
os

ipython
ipykernel

python-dotenv
